<h1>A little bit about Alyssandra Chloe Collier..</h1>

<p>By attending the University of North Carolina at Greensboro, Chloe was able to combine her design skills with technology and flourished as a graphic design major. Through learning the art of graphic design she found her true passion coding websites.</p>
<p>She previously worked for an IT company in Raleigh, North Carolina. There she was able to get the latest experience with technology and the opportunity to build captivating and unique websites for companies all over the country.</p>
<p>Recently, Chloe graduated as a Front-End Engineer at The Iron Yard. There she heavily learned HTML, Sass, JavaScript, and MVC Frameworks.</p>
<p>Today you can find Chloe in Raleigh, North Carolina with her husband Josh and their first born “child” Theodore who is a 2 year old Great Pyrenees who is always a source of inspiration.</p>

<p class="learn-you">Now you know a little bit about Chloe, she’d love to learn a little bit about you. <a ui-sref="contact"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a></p>
