<h1>A little bit about Alyssandra Chloe Collier..</h1>

<p>By attending the University of North Carolina at Greensboro, Chloe was able to combine her design skills with technology and flourished as a graphic design major. Through learning the art of graphic design she found her true passion coding websites.</p>
<p>After a few years in the tech industry, Chloe decided to attend The Iron Yard for Front-End development. There she heavily learned HTML, Sass, JavaScript, and MVC Frameworks.</p>
<p>She now works for a software company, Raleigh Codesmiths, as their Front-End Developer. There she is working on building a law firm platform and a babysitting agency dashboard.</p>
<p>Today you can find Chloe in Seattle, Washington with her husband Josh and their first born “child” Theodore who is a 3 year old Great Pyrenees who is always a source of inspiration.</p>

<p class="learn-you">Now you know a little bit about Chloe, she’d love to learn a little bit about you. <a ui-sref="contact"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a></p>
