<!--- Left Aside --->
<aside class="main-aside">
  <div class="content">
    <img src="src/images/me.jpg" alt="Chloe Collier's profile picture.">
    <div class="info">
      <h1>Chloe Collier</h1>
      <i ng-repeat="media in appCtrl.social" class="fa fa-{{media}}" aria-hidden="true"></i>
      <h2>Designer<br>who<br>codes;</h2>
    </div>
  </div>
</aside>
<!--- Main Container --->
<div class="container">
  <!--- Header --->
  <header>
    <nav>
      <ul>
        <li ng-class="{'active': page.page == appCtrl.activeItem}" ng-click="appCtrl.activeItem = page.page" ng-repeat="page in appCtrl.nav" ui-sref="{{page.page}}">
          <i class="fa {{page.icon}}" aria-hidden="true"></i>
          <p>{{page.page}}</p>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <ui-view>LOADING</ui-view>
  </main>
</div>
<!--- Right Aside --->
<aside class="aside">
  <div class="content">
    <img src="src/images/designer-developer.svg" alt="Designer and developer logo.">
  </div>
</aside>
