<h1>Technical Skills</h1>
<!-- ***************
Skills Section
**************** -->
<div class="skills">
  <div ng-repeat="skill in techSkills" class="skills-container">
    <p class="skill">{{skill.skill}}</p>
    <p ng-class="{'beginner': skill.level == 'beginner', 'experienced': skill.level == 'experienced', 'expert': skill.level == 'expert'}">{{skill.level}}</p>
  </div>
</div>
<!-- ***************
Career Section
**************** -->
<div class="career">
  <h1>Career</h1>
  <div ng-repeat="career in career" class="career-container">
    <article>
      <div class="icon">
        <h2>{{career.year}}</h2>
        <div class="line"></div>
      </div>
      <!-- ***************
      Individual Careers
      **************** -->
      <div class="career-content">
        <h3><span>{{career.position}}</span> at {{career.company}}</h3>
        <p class="position-info">{{career.info}}<a ng-repeat="url in career.url" target="_blank" href="{{url.path}}">{{url.name}}{{$last ? '' : ', '}}</a></p>
        <div class="duties">
          <p>Glimpse of duties:</p>
          <ul>
            <li ng-repeat="duty in career.duties">{{duty}}</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</div>
