aside {
  width: 15vw;
  height: 100vh;
  display: inline-block;

  &:first-child {
    border-right: #ddd solid 1px;
  }

  &:last-child {
    border-left: #ddd solid 1px;
  }
}

.asideActive {
  height: 22.3vh;
  border-bottom: #ddd solid 1px;
  transition: height ease-in 1s;
}

.aside {
  .content {
    text-align: center;

    img {
      width: 150px;
      margin-top: 20px;
    }
  }
}

.main-aside {
  .img-container {
    width: 100%;
    border: $font solid 5px;
    border-radius: 50%;
    overflow: hidden;
    max-height: 180px;

    img {
      width: 800px;
      position: relative;
      z-index: -1;
      left: -270px;
      top: -225px;
    }
  }

  .content {
    padding: 20px;

    .info {
      padding-top: 35px;

      h1 {
        font-size: 25px;
        margin-bottom: 15px;
        color: $prim;
        font-weight: 400;
      }

      h2 {
        font-size: 20px;
        color: $font;
        padding-top: 40px;
        line-height: 28px;
        font-weight: 100;
      }

      i {
        font-size: 20px;
        margin-right: 15px;
        color: $prim;
      }
    }
  }
}
