aside {
  width: 15vw;
  height: 100vh;
  display: inline-block;

  &:first-child {
    border-right: #ddd solid 1px;
  }

  &:last-child {
    border-left: #ddd solid 1px;
  }
}

.asideActive {
  height: 16.7vh;
  max-height: 112.5px;
  border-bottom: #ddd solid 1px;
  z-index: 1;
  position: relative;
}

.aside {
  background: #fff;
  transition: all ease-in 500ms;

  .content {
    text-align: center;

    img {
      width: 150px;
      margin-top: 20px;
    }
  }
}

.main-aside {

  img {
    width: 100%;
    max-width: 151px;
    border: #EFEFEF solid 5px;
    border-radius: 50%;
  }

  .content {
    padding: 20px;

    .info {
      padding-top: 35px;

      h1 {
        font-size: 25px;
        margin-bottom: 15px;
        color: $prim;
        font-weight: 400;
      }

      h2 {
        font-size: 20px;
        color: $font;
        padding-top: 40px;
        line-height: 28px;
        font-weight: 100;
      }

      i {
        font-size: 20px;
        margin-right: 15px;
        color: $prim;
      }
    }
  }
}
