article {
  overflow: hidden;

  .icon {
    width: 10%;
    float: left;
    @include media(largeMobile) {
      width: 100%;
      float: none;
      margin-bottom: 25px;
    };

    h2 {
      background: $sec;
      border-radius: 50%;
      text-align: center;
      height: 73px;
      width: 73px;
      padding-top: 24px;
      border: $prim solid 5px;
      position: relative;
      z-index: 2;
      color: $prim;
      font-weight: 400;
      @include media(largeMobile) {
        margin: 0 auto;
      };
    }

    .line {
      height: 100%;
      background: $prim;
      width: 5px;
      position: absolute;
      top: 47px;
      left: 35px;
      z-index: 0;
      @include media(largeMobile) {
        display: none;
      };
    }
  }

  .career-content {
    padding-left: 20px;
    padding-top: 10px;
    width: 90%;
    float: left;
    @include media(desktop) {
      padding-left: 35px;
    };
    @include media(largeMobile) {
      padding-left: 0px;
      width: 100%;
      float: none;
    };

    span {
      font-weight: 400;
      @include media(largeMobile) {
        display: block;
        padding-bottom: 10px;
      };
    }

    h3 {
      @include media(largeMobile) {
        text-align: center;
      };
    }

    & > p {
      padding: 20px 0;
      font-style: italic;
      line-height: 23px;
      @include media(largeMobile) {
        text-align: center;
      };
    }

    .duties {

      p {
        padding-bottom: 20px;
        @include media(largeMobile) {
          text-align: center;
        };
      }

      ul {
        padding-left: 45px;

        li {
          list-style: initial;
          padding-bottom: 10px;
          line-height: 23px;
        }
      }
    }
  }

};
