career {
  margin: 0 auto;
  display: block;
  max-width: 1000px;

  h1 {
    font-size: 22px;
    padding-bottom: 25px;

  }

  h1, p, span {
    color: #555;
  }

  .skills {
    padding-bottom: 25px;
    overflow: hidden;

    .skills-container {
      position: relative;
      float: left;
      width: 25%;
      padding: 9px 0 9px 0;
      @include media(desktop) {
        width: 33.3%;
      };
      @include media(largeMobile) {
        width: 50%;
      };

      &:hover {
        & .skill {
          visibility: hidden;
        }

        & .beginner {
          display: block;
        }

        & .experienced {
          display: block;
        }

         & .expert {
          display: block;
        }
      }

      .beginner {
        display: none;
        color: #fff;
        position: absolute;
        top: 4px;
        background: $font;
        padding: 5px 12px;
        border-radius: 4px;

        &:before {
          font-family: FontAwesome;
          content: '\f0eb';
          font-size: 14px;
          color: #fff;
          position: relative;
          top: -1px;
          margin-right: 5px;
        }
      }

      .experienced {
        display: none;
        color: #fff;
        position: absolute;
        top: 4px;
        background: #5BB3F8;
        padding: 5px 12px;
        border-radius: 4px;

        &:before {
          font-family: FontAwesome;
          content: '\f164';
          font-size: 14px;
          color: #fff;
          position: relative;
          top: 0px;
          margin-right: 5px;
        }
      }

      .expert {
        display: none;
        color: #fff;
        position: absolute;
        top: 4px;
        background: $prim;
        padding: 5px 12px;
        border-radius: 4px;

        &:before {
          font-family: FontAwesome;
          content: '\f132';
          font-size: 14px;
          color: #fff;
          position: relative;
          top: 0px;
          margin-right: 5px;
        }
      }
    }

  }

  .career {
    padding-top: 25px;

    .career-container {
      margin: 15px 0;
      position: relative;
      padding-bottom: 40px;
    }
  }
}
