career {
  margin: 0 auto;
  display: block;
  max-width: 1000px;

  h1 {
    font-size: 22px;
    padding-bottom: 25px;

  }

  h1, p, span {
    color: #555;
  }

  .skills {
    padding-bottom: 25px;
    overflow: hidden;

    .skills-container {
      position: relative;
      float: left;
      width: 25%;
      padding: 9px 0 9px 0;
      cursor: pointer;
      @include media(desktop) {
        width: 33.3%;
      };
      @include media(largeMobile) {
        width: 50%;
      };

      &:hover {
        & .skill {
          visibility: hidden;
        }

        & .skillLevelToggle {
          display: block;
        }
      }

      .skillLevelToggle {
        display: none;
        color: #fff;
        position: absolute;
        top: 4px;
        background: $prim;
        padding: 5px 12px;
        border-radius: 4px;
      }
    }

  }

  .career {
    padding-top: 25px;

    .career-container {
      margin: 15px 0;
      position: relative;
      padding-bottom: 40px;
    }
  }
}
