header {
  display: inline-block;
  width: 100%;

  nav {
    border-bottom: #ddd solid 1px;

    ul {
      text-align: center;

      .active {
        border-bottom: #aaa solid 5px;
        background: #ccc;
      }

      li {
        display: inline-block;
        padding: 45px 50px;
        display: inline-block;

        i {
          font-size: 15px;
          margin-right: 7px;
        }

        p {
          display: inline-block;
          font-size: 16px;

          &::first-letter {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
